.active {
    text-decoration: underline;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: darkslategrey;
}

.header {
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    font-size: 25px;
    padding-left: 10px;
    border-bottom: 1px whitesmoke solid;
}

.section {
    color: whitesmoke;
    flex: auto;
    flex-wrap: wrap;
    padding-left: 15px;
}

a {
    padding: 5px;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

a:hover {
    color: gray;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 17px;
}

footer {
    border-top: 1px whitesmoke solid;
    padding-left: 15px;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*For very important text*/
.Main {
    font: 60px 'Trebuchet MS', sans-serif;
    margin: 0;
    padding-left: 15px;
    color: yellow;
}

.Submain {
    font: 30px 'Trebuchet MS', sans-serif;
    margin: 0;
    padding-left: 15px;
    color: yellow;
}

/*Make text 25px*/
.MenuElement {
    font-size: 25px;
}

.Photo {
    height: 400px;
    width: 400px;
}
  
.Icon {
    height: 25px;
    width: 25px;
    padding-right: 5px;
    padding-bottom: -5px;
}

.Intro {
    padding-right: 15px;
}
  