body {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: whitesmoke;
}

.header {
    color: black;
    background-color: aquamarine;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    padding-left: 10px;
    border-bottom: 1px black solid;
}

.body {
    color: black;
    flex: auto;
    flex-wrap: wrap;
    padding-left: 15px;
}

a {
    padding: 5px;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline overline;
}

.active:hover {
    text-decoration: underline overline;
}

footer {
    border-top: 1px black solid;
}

/*General format text will have-*/
.Text {
    color: black;
    font-family: Arial, Helvetica, sans-serif;      
}


/*For very important text*/
.Main {
    font: 60px Arial, sans-serif;
}

/*Make text 25px*/
#TwoFivePx {
    font-size: 25px;
}

.Photo {
    height: 350px;
    width: 400px;
}
  
